html, body {
	overflow-x: hidden;
}
body {
	font-family: proxima-nova, sans-serif;
	color: #000000;
}
h1, h2, h3, h4, h5, h6 {
	font-family: proxima-nova, sans-serif;
}
h2 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 19px;
}
h3 {
	font-size: 20px;
	font-weight: lighter;
}
h4 {
	font-size: 18px;
	font-weight: lighter;
}
p {
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}

/* GRID */
.container {
	margin-right: auto;
	margin-left: auto;
	/*padding-left: 15px;*/
	/*padding-right: 15px;*/
	position: relative;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {
	clear: both;
}
.eight-column .six-column .four-column {
 	width: 96%;
 	float:left;
 	position:relative;
 	min-height: 1px;
 	/*margin:0 2% 20px;*/
}

/* HEADER */
nav .left {
 	float: left;
 	margin: 0 0 0 0;
}
nav .right {
 	float: right;
 	margin: 0 0 0 0;
}

header .logo-ay img {
	width: 215px;
	height: 19px;
}
header nav ul {
	display: inline-block;
	float: right;
	margin: 0;
	text-align: right;
	-webkit-padding-start: 0;
}
header nav ul > li {
	display: inline-block;
	font-size: .88em;
	list-style-type: none;
	margin: 0 0px;
}
header span {
	/*border-left: 1px solid #000000;*/
	border-right: 1px solid #000000;
	margin: 0 10px;
	padding: 0 10px;
}
header nav ul > li > a {
	color: #000000;
	text-decoration: none;
}
header nav ul > li > span > a {
	color: #000000;
	text-decoration: none;
}

/* MAIN */
main div ul {
	-webkit-padding-start: 0;
}

/* FOOTER */
footer .container {
	border-top: 1px solid #000000;

}
footer .left {
	float: left;
}
footer .right {
	float: right;
}	

/* MEDIA QUERIES */
/* MOBILES */
@media (min-width: 320px) {
	.container {
		width: 90%;
	}
	header nav {
		padding: 3em 0;
	}
	nav .left {
		width: auto;
		padding: 0 17%;
	}
	nav .right {
		width: auto;
		padding: 2em 4.35em;
	}
	main ul {
		border-top: none;
	}
	footer .left {
		float: none;
	}
	footer .right {
		float: none;
	}
	footer h3 {
		margin-bottom: .5em;
	}
	footer h4 {
		margin-bottom: .5em;
	}
	footer p {
		margin-top: 0;
		padding-right: 2em;
	}
}

/* TABLETS */
@media (min-width: 768px) {
	.container {
		width: 90%;
	}
	nav .left {
		width: 50%;
		padding: 0 0;
	}
	nav .right {
		width: 50%;
		padding: 0 0;
	}
	header nav {
		padding: 4em 0;
	}
	main .four-column {
		border-top: 5px solid #000000;
	}
	footer .left {
		float: left;
		width: 65%;
	}
	footer .right {
		float: right;
		width: 25%;
	}
}

/* LAPTOPS & DESKTOPS */
@media (min-width: 992px) {
	.container {
		width: 80%;
	}
	nav .left {
		width: 50%;
		padding: 0 0;
	}
	nav .right {
		width: 50%;
		padding: 0 0;
	}
	header nav {
		padding: 4.75em 0 6.5em 0;
	}
	.case-one {
		list-style-type: none;
		display: inline-block;
	}
	.case-two {
		list-style-type: none;
		display: inline-block;
	}
	.casestudies .left {
		float: left;
		width: 26%;
		/*padding-bottom: 290px;*/
		margin-top: 0;
		margin-bottom: 15em;
	}
	.casestudies .right   {
		float: right;
		width: 72%;
	}
	.casestudies img {
		width: 100%;
		/*height: 80vh;*/
	}
	.casestudies h2 {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 4em;
		padding-bottom: .5em;
	}
	.casestudies p {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: .5em;
		padding-bottom: 4.5em;
	}
	.casestudies .cta {
		margin-top: 0;
		margin-bottom: 0;
		padding-top:4.5em;
		padding-bottom: 7em;
	}
	.casestudies a {
		color: #000000;
		font-family: proxima-nova, sans-serif;
		font-size: .85em;
		font-weight: bold;
		text-decoration: none;
	}
	.about .container {
		margin-left: 10em;
		margin-bottom: 10em;
	}
	.story p {
		width: 65%;
		font-size: .85em;
		line-height: 1.5em;
		padding-bottom: 1em;
	}
	footer h3 {
		margin-top: 4em;
	}
	footer h4 {
		margin-top: 4em;
	}
}




/* LAPTOPS & DESKTOPS */
@media (min-width: 1200px) {
	.container {
		width: 80%;
	}
	nav .left {
		width: 50%;
		padding: 0 0;
	}
	nav .right {
		width: 50%;
		padding: 0 0;
	}
	footer .right p {
		padding-right: 0;
	}
/*	main .one-half {
		width: 30%;
		padding-bottom: 290px;
		margin-top: 0;
		margin-bottom: 12em;
	}
	main h2 {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 4em;
		padding-bottom: .5em;
	}
	main p {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: .5em;
		padding-bottom: 4.5em;
	}
	main h5 {
		margin-top: 0;
		margin-bottom: 0;
		padding-top:4.5em;
		padding-bottom: 7em;
	}*/
}

/* LAPTOPS & DESKTOPS */
@media (min-width: 1440px) {
	.container {
		width: 67%;
	}
	nav .left {
		width: 50%;
		padding: 0 0;
	}
	nav .right {
		width: 50%;
		padding: 0 0;
	}

/*	main .one-half {
		width: 30%;
		padding-bottom: 290px;
		margin-top: 0;
		margin-bottom: 12em;
	}
	main h2 {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 4em;
		padding-bottom: .5em;
	}
	main p {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: .5em;
		padding-bottom: 4.5em;
	}
	main h5 {
		margin-top: 0;
		margin-bottom: 0;
		padding-top:4.5em;
		padding-bottom: 7em;
	}*/
}


