html, body {
	overflow-x: hidden;
}
body {
	font-family: proxima-nova, sans-serif;
	color: #000000;
}
h1, h2, h3, h4, h5, h6 {
	font-family: proxima-nova, sans-serif;
}
h2 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 19px;
}
h3 {
	font-size: 20px;
	font-weight: lighter;
}
p {
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
}

/* GRID */
.container {
	margin-right: auto;
	margin-left: auto;
	/*padding-left: 15px;*/
	/*padding-right: 15px;*/
	position: relative;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {
	clear: both;
}
.one-half, .one-third, .one-fourth {
 	width: 96%;
 	float:left;
 	position:relative;
 	min-height: 1px;
 	/*margin:0 2% 20px;*/
}

/* HEADER */
nav .left {
 	float: left;
 	margin: 0 0 0 0;
}
nav .right {
 	float: right;
 	margin: 0 0 0 0;
}

header .logo-ay img {
	width: 215px;
	height: 19px;
}
header nav ul {
	display: inline-block;
	float: right;
	margin: 0;
	text-align: right;
	-webkit-padding-start: 0;
}
header nav ul > li {
	display: inline-block;
	font-size: .88em;
	list-style-type: none;
	margin: 0 0px;
}
header span {
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	margin: 0 10px;
	padding: 0 10px;
}
header nav ul > li > a {
	color: #000000;
	text-decoration: none;
}
header nav ul > li > span > a {
	color: #000000;
	text-decoration: none;
}

/* MAIN */
main div ul {
	-webkit-padding-start: 0;
}
main ul {
	border-top: 5px solid #000000;
}
/* MEDIA QUERIES */
/* MOBILES */
@media (min-width: 320px) {
	header nav {
		padding: 3em 0;
	}
	nav .left {
		width: auto;
		padding: 0 17%;
	}
	nav .right {
		width: auto;
		padding: 2em 4.35em;
	}
}

/* TABLETS */
@media (min-width: 768px) {
	.container {
		width: 90%;
	}
	nav .left {
		width: 50%;
		padding: 0 0;
	}
	nav .right {
		width: 50%;
		padding: 0 0;
	}
	header nav {
		padding: 4em 0;
	}
}

/* LAPTOPS & DESKTOPS */
@media (min-width: 992px) {
	.container {
		width: 80%;
	}
	nav .left {
		width: 50%;
		padding: 0 0;
	}
	nav .right {
		width: 50%;
		padding: 0 0;
	}
	header nav {
		padding: 4em 0;
	}
}

/* LAPTOPS & DESKTOPS */
@media (min-width: 1200px) {
	.container {
		width: 80%;
	}
	nav .left {
		width: 50%;
		padding: 0 0;
	}
	nav .right {
		width: 50%;
		padding: 0 0;
	}
	header nav {
		padding: 4em 0;
	}
}

/* LAPTOPS & DESKTOPS */
@media (min-width: 1440px) {
	.container {
		width: 67%;
	}
	nav .left {
		width: 50%;
		padding: 0 0;
	}
	nav .right {
		width: 50%;
		padding: 0 0;
	}
	header nav {
		padding: 4em 0;
	}

}


